body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.board-wrap {
  position: relative;
  height: 512px;
  width: 512px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  top: 0;
  left: 0;
  background-size: cover;
  background-image: url('../public/images/olive.jpg');
  position: absolute;
  height: 100%;
  width: 100%;
}

.piece {
  position: absolute;
  height: 12.5%;
  width: 12.5%;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: 2;
}

.manipulable {
  cursor: pointer;
}

.wB {
  background: url('../public/images/companion/wB.svg');
}

.wK {
  background: url('../public/images/companion/wK.svg');
}

.wN {
  background: url('../public/images/companion/wN.svg');
}

.wP {
  background: url('../public/images/companion/wP.svg');
}

.wQ {
  background: url('../public/images/companion/wQ.svg');
}

.wR {
  background: url('../public/images/companion/wR.svg');
}

.bB {
  background: url('../public/images/companion/bB.svg');
}

.bK {
  background: url('../public/images/companion/bK.svg');
}

.bN {
  background: url('../public/images/companion/bN.svg');
}

.bP {
  background: url('../public/images/companion/bP.svg');
}

.bQ {
  background: url('../public/images/companion/bQ.svg');
}

.bR {
  background: url('../public/images/companion/bR.svg');
}
