body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

.text-white {
  color: #fff;
}

.btn {
  cursor: pointer;
}

.row-container {
  padding: 2em;
  display: flex;
  align-items: start;
  justify-content: center;
  min-width: 768px;
}

.column {
  max-width: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-grow: 1;
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 5px;
  padding: 1em;
  transition: all .5s linear;
}

.column .add-text {
  margin-top: 1em;
  width: 100%;
  color: #000;
  font-style: italic;
  font-weight: 300;
}

.add-text:hover {
  text-decoration: underline;
}

.card {
  display: flex;
  padding: 1em .5em 1em .5em;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(136, 152, 170, .1), 0 15px 35px 0 rgba(49, 49, 93, .1), 0 5px 15px 0 rgba(0, 0, 0, .08);
}

.change-col-title {
  display: flex;
}

.col-title {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  padding: 1em;
}

.col-title > div {
  padding-left: .5em;
  padding-right: .5em;
}

input {
  border: none;
  border-radius: 4px;
  width: 100%;
}

textarea {
  border: none;
  border-radius: 4px;
  width: 100%;
  min-height: 5em;
  margin-bottom: 1em;
  resize:vertical;
}

.card .card-text {
  max-width: 85%;
}

.shadow {
  box-shadow: 0 0 0 1px rgba(136, 152, 170, .1), 0 15px 35px 0 rgba(49, 49, 93, .1), 0 5px 15px 0 rgba(0, 0, 0, .08);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.transparent {
  opacity: 0;
}

.card-placeholder {
  height: 1px;
  transition: height .3s cubic-bezier(0.09, .89, .83, .93);
}

.card-placeholder.highlight {
  height: 64px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

.card.card-display {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.card-display .card-text {
  flex: 1;
}

.card-edit-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cancel-btn {
  color: #fff;
  background-color: inherit;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 700;
  padding: .75em;
}

.save-btn {
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 700;
  background-color: green;
  color: #fff;
  padding: .75em;
}

.header {
  background-color: #444;
  color: #fff;
  text-align: center;
  padding: 1.5em;
}

.add-form {
  display: flex;
  flex-direction: column;
  padding: 2em 1em 2em 1em;
}
